body {
  width: 60%;
  background-image: url("background.jpg");
  background-size: cover;
  color: white;
  padding: 100px 300px 100px 300px;
}

header{
  text-align: center;
}

#logo{
  width: 180px;
  height: 85px;
}

.verde {
  color:#1ed013;
}

.fascia {
  background-color: #1ed013;
}

.prova {
  display: inline;
}

#Gino22 {
  background-color: orange;
  width: 20%;
  color: orange;
  border-radius: 5%;
}

#Mike24 {
  background-color: lightgreen;
  width: 30%;
  color: lightgreen;
  border-radius: 5%;

}

#Fede154 {
  background-color: red;
  width: 10%;
  color: red;
  border-radius: 5%;

}
section {
  padding: 10px;
}
